.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  width: 80vw;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex__grow {
  display: flex;
  gap: 24px;
  &--1 {
    flex: 0 0 50%; //kam 1
  }
  &--2 {
    flex: 1; //11
  }
}
